# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Attrahere/bin/Debug/Attrahere.exe
Attrahere/bin/Debug/Attrahere.exe
Attrahere/bin/Debug/Attrahere.pdb
Attrahere/bin/Debug/Attrahere.pdb
Attrahere/bin/Release/Attrahere.vshost.exe.manifest
Attrahere/obj/Debug/Attrahere_MarkupCompile.i.lref
Attrahere/obj/Release/App.baml
Attrahere/obj/Release/App.g.cs
Attrahere/obj/Release/App.g.i.cs
Attrahere/obj/Release/Attrahere.csproj.FileListAbsolute.txt
Attrahere/obj/Release/Attrahere.g.resources
Attrahere/obj/Release/Attrahere_MarkupCompile.lref
Attrahere/obj/Release/Controls/ColorPicker/ColorPicker.baml
Attrahere/obj/Release/Controls/ColorPicker/ColorPicker.g.cs
Attrahere/obj/Release/Controls/ColorPicker/ColorPicker.g.i.cs
Attrahere/obj/Release/GeneratedInternalTypeHelper.g.cs
Attrahere/obj/Release/MainWindow.baml
Attrahere/obj/Release/MainWindow.g.cs
Attrahere/obj/Release/MainWindow.g.i.cs
Attrahere/obj/Release/View/SettingsView.baml
Attrahere/obj/Release/View/SettingsView.g.cs
Attrahere/obj/Release/View/SettingsView.g.i.cs
